<!DOCTYPE html>
<html lang="uk-UA, ru-RU, en-GB">

<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="./materialize/css/materialize.css" media="screen,projection">
  <link type="text/css" rel="stylesheet" href="./main.css" media="screen,projection" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base target="_blank">
</head>

<body>
  <div class=" center-align margin-auto">
    <h5 class="background-header text-white">PopVia CryptTwo Test App</h5>
    <div class="row">
      <form method="post" action="/transaction" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <!-- start private key receiver-->
            <input name="donationWalletPublicKey" disabled value="1NtTzHjPP83gjRwCn74ohDhgUoTEbMuuUj" id="disabled" type="text" class="validate">
            <label for="disabled">Contributing to PopVia (test account)</label>
          </div>
        </div>
        <!-- end private key receiver-->
        <div class="row">
          <!-- start private key section -->
          <div class="input-field col s12 m12 l6">
            <input name="yourWalletPrivateKey" id="privateKey" type="password" class="validate" class="materialize-textarea" data-length="111">
            <label for="wallet">Private Key xPub (Confirmation Transaction)</label>
          </div>
          <div class="input-field col s12 m6 l2">
            <input name="amount" id="amount" type="number" class="validate">
            <label for="amount">Quantity $</label>
          </div>
          <div class="input-field col s12 m6 l4">
            <input placeholder="Calculated" id="amountBTC" type="text" class="validate">
            <label for="amountBTC">Value in BTC, 1 BTC = <b id="showPrice"><%=showPrice%> USD</b></label>
          </div>
        </div>

        <!-- end private key section-->
        <!-- <div class="row">
          <div class="input-field col s12">
            <input name="yourWalletPrivateKey" id="privateKey" type="password" class="validate">
            <label for="privateKey">Private Key (Confirmation Transaction)</label>
          </div>
        </div> -->

        <!-- <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text">
            <label for="email">Your comments:</label>
          </div>
        </div> -->
        <!-- <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
              </div> -->
        <button id="sendPayment" type="submit" class="btn background-header waves-effect waves-light">Send Donation</button>
      </form>
    </div>
    <!-- <a class="waves-effect waves-light btn">button</a> -->
  </div>
  <!-- <div id="infoBlock">Not connected yet</div>
        <div id="infoBlock1">Not connected yet 2</div> -->

</body>
<script type="text/javascript" src="./jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="./materialize/js/materialize.min.js"></script>
<!-- <script type="text/javascript" src="main-src.js"></script> -->
<script type="text/javascript" src="pay.js"></script>

</html>
